page-home{
   ion-title {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    /* align-items: center; */
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    margin-right: 10%;
    color: #0551A9;
}

.toolbar-title-ios {
    text-align: center;
    font-size: 1.7rem;
    font-weight: 600;
    color: #0551A9 !important;
    pointer-events: auto;
}

.toolbar-title-md {
    text-align: center;
    font-size: 1.7rem;
    font-weight: 600;
    color: #0551A9 !important;
    pointer-events: auto;
}

.bar-button-clear-md{
    color: #0551A9 !important;
}

[padding] h1:first-child, [padding] h2:first-child, [padding] h3:first-child, [padding] h4:first-child, [padding] h5:first-child, [padding] h6:first-child {
    margin-top: 0rem;
}

.toolbar-background-ios {
    background: white !important;
}

.toolbar-background-md {
    background: white !important;
}

.swiper-container {
    border-radius: 10px !important;
} 

img {
    max-width: 80%;
    border: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px !important;
}

.card-ios {
    margin: 12px;
    border-radius: 2px;
    width: calc(100% - 24px);
    font-size: 1.4rem;
    background: #fff;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
}

}
