<ion-tabs>
  <ion-tab [root]="tabHomeRoot" tabTitle="Hôm nay" tabIcon="bookmarks"></ion-tab>
  <ion-tab [root]="tabMonthTaskRoot" tabTitle="Tháng này" tabIcon="calendar"></ion-tab>
  <ion-tab [root]="tabHistoryTaskRoot" tabTitle="Lịch sử" tabIcon="clipboard"></ion-tab>
  <ion-tab [root]="tabAccountTaskRoot" tabTitle="Tài khoản" tabIcon="person"></ion-tab>
</ion-tabs>