<ion-header>
  <ion-navbar>
    <ion-title>ĐĂNG KÝ</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!-- <div class="coverImg" [style.background-image]="'url('+img+')'">
    <ion-row>
      <ion-col col-6>
        <ion-icon (click)="back()" style="zoom: 2.5; padding-left: 5px; color: white;"
          ios="ios-arrow-round-back-outline" md="ios-arrow-round-back-outline"></ion-icon>
      </ion-col>
      <ion-col col-6>
        <h5 style="float: right; padding-top: 15px; padding-right: 15px; color: white;">Đăng ký</h5>
      </ion-col>
    </ion-row>
  </div>

  <div class="avatar" style="border-radius: 50%;">
    <ion-avatar>
      <img class="center" style="border-radius: 50%; width: 100px;" src="../../assets/imgs/LOGO SAFE HOUSE.png">
    </ion-avatar>
  </div> -->
  <div>
    <div style="color: white; margin-top: 5vh; border: 1px solid #0551A9; border-radius: 20px;">
      <ion-row>
        <ion-col col-1 style="padding: 0;">
          <button item-start ion-button icon-only clear style="color:#0551A9">
            <ion-icon style="zoom: 1;" ios="ios-person" md="ios-person"></ion-icon>
          </button>
        </ion-col>
        <ion-col col-9 style="padding: 0;">
          <ion-input (ionChange)="changeName()" [(ngModel)]="name" placeholder="Họ tên"
            style="left: 20px; right: 20px; color: black; width: max-content" type="text"></ion-input>
        </ion-col>
        <ion-col col-2 style="padding: 0;" *ngIf="displayErrName==true">
          <button *ngIf="nameErr==false" item-start ion-button icon-only clear style="color:rgb(0, 189, 72)">
            <ion-icon style="zoom: 1.5;" ios="ios-checkmark" md="ios-checkmark"></ion-icon>
          </button>
          <button *ngIf="nameErr==true" item-start ion-button icon-only clear style="color:rgb(240, 0, 0)">
            <ion-icon style="zoom: 1;" ios="ios-close-circle" md="ios-close-circle"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </div>

    <div style="color: white; margin-top: 2vh; border: 1px solid #0551A9; border-radius: 20px;">
      <ion-row>
        <ion-col col-1 style="padding: 0;">
          <button item-start ion-button icon-only clear style="color:#0551A9">
            <ion-icon style="zoom: 1;" name="mail"></ion-icon>
          </button>
        </ion-col>
        <ion-col col-9 style="padding: 0;">
          <ion-input (ionChange)="changeEmail()" [(ngModel)]="email" placeholder="Email"
            style="left: 20px; right: 20px; color: black; width: max-content" type="email"></ion-input>
        </ion-col>
        <ion-col col-2 style="padding: 0;" *ngIf="displayErrEmail==true">
          <button *ngIf="emailErr==false" item-start ion-button icon-only clear style="color:rgb(0, 189, 72)">
            <ion-icon style="zoom: 1.5;" ios="ios-checkmark" md="ios-checkmark"></ion-icon>
          </button>
          <button *ngIf="emailErr==true" item-start ion-button icon-only clear style="color:rgb(240, 0, 0)">
            <ion-icon style="zoom: 1;" ios="ios-close-circle" md="ios-close-circle"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </div>

    <!-- Số điện thoại -->
    <div style="color: white; margin-top: 2vh; border: 1px solid #0551A9; border-radius: 20px;">
      <ion-row>
        <ion-col col-1 style="padding: 0;">
          <button item-start ion-button icon-only clear style="color:#0551A9">
            <ion-icon style="zoom: 1;" name="mail"></ion-icon>
          </button>
        </ion-col>
        <ion-col col-9 style="padding: 0;">
          <ion-input (ionChange)="changePhone()" [(ngModel)]="phone" placeholder="Số điện thoại"
            style="left: 20px; right: 20px; color: black; width: max-content" type="number"></ion-input>
        </ion-col>
        <ion-col col-2 style="padding: 0;" *ngIf="displayErrPhone==true">
          <button *ngIf="phoneErr==false" item-start ion-button icon-only clear style="color:rgb(0, 189, 72)">
            <ion-icon style="zoom: 1.5;" ios="ios-checkmark" md="ios-checkmark"></ion-icon>
          </button>
          <button *ngIf="phoneErr==true" item-start ion-button icon-only clear style="color:rgb(240, 0, 0)">
            <ion-icon style="zoom: 1;" ios="ios-close-circle" md="ios-close-circle"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </div>

    <!-- Địa chỉ -->
    <div
      style=" border: 1px solid #0551A9; border-radius: 20px;margin-top: 2vh;box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 0px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);">
      <h2 style="float: left; margin-left: 5%; margin-top: 10px; font-size: 0.9em;">Địa chỉ</h2>
      <ion-item>
        <ion-label>Tỉnh/Thành phố</ion-label>
        <ion-select cancelText="HỦY" okText="ĐỒNG Ý" [(ngModel)]="selectedProvince"
          (ionChange)="changeProvince($event)">
          <ion-option *ngFor="let province of provinces" value="{{province.province_code}}">
            {{province.province_name}}
          </ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Quận/Huyện</ion-label>
        <ion-select cancelText="HỦY" okText="ĐỒNG Ý" [(ngModel)]="selectedDistrict"
          (ionChange)="changeDistrict($event)">
          <ion-option *ngFor="let district of districts" value="{{district.district_code}}">
            {{district.district_name}}
          </ion-option>
        </ion-select>
      </ion-item>
      <p style="font-size: 13px;color: red; float: right; margin-top: 0px; margin-bottom: 0px;"
        *ngIf="districtIsNULL==true">
        Chưa chọn Quận/Huyện
      </p>

      <ion-item>
        <ion-label>Xã/Phường</ion-label>
        <ion-select cancelText="HỦY" okText="ĐỒNG Ý" [(ngModel)]="selectedWard" (ionChange)="changeWard($event)">
          <ion-option *ngFor="let ward of wards" value="{{ward.ward_code}}">
            {{ward.ward_name}}
          </ion-option>
        </ion-select>
      </ion-item>
      <p style="font-size: 13px;color: red; float: right; margin-top: 0px; margin-bottom: 0px;"
        *ngIf="wardIsNULL==true">
        Chưa chọn Xã/Phường
      </p>
      <ion-item>
        <!-- <ion-label floating>Thông tin địa chỉ(điểm mốc, số nhà)</ion-label> -->
        <ion-input name="address" [(ngModel)]="address" placeholder="Thông tin địa chỉ (số nhà, tên đường,...)"
          (ionChange)="checkAddress()" type="text">
        </ion-input>
      </ion-item>
      <p style="font-size: 13px;color: red; float: right; margin-top: 0px; margin-bottom: 0px;"
        *ngIf="addressIsNULL==true">
        Chưa có địa chỉ
      </p>
    </div>

    <div style="color: white; margin-top: 2vh; border: 1px solid #0551A9; border-radius: 20px;">
      <ion-row style="width: 100%;">
        <ion-col col-1 style="padding: 0;">
          <button item-start ion-button icon-only clear style="color:#0551A9">
            <ion-icon style="zoom: 1;" name="lock"></ion-icon>
          </button>
        </ion-col>
        <ion-col col-9 style="padding: 0;">
          <ion-input [(ngModel)]="password" placeholder="Mật khẩu" (ionChange)="checkPassword()"
            style="left: 20px; right: 20px; color: black; width: max-content" type="{{type}}"></ion-input>
        </ion-col>
        <ion-col col-2 style="padding: 0;">
          <button *ngIf="type=='password'" (click)="changeType()" item-start ion-button icon-only clear
            style="color:#0551A9">
            <ion-icon style="zoom: 1;" name="eye"></ion-icon>
          </button>
          <button *ngIf="type=='text'" (click)="changeType()" item-start ion-button icon-only clear
            style="color:#0551A9">
            <ion-icon style="zoom: 1;" name="eye-off"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
      <p style="font-size: 15px;color: red; float: right;margin-top: 5px;" *ngIf="passwordErr==true">
        Mật khẩu trống!
      </p>
    </div>

    <button (click)="onSignup()" ion-button
      style="background-color:#0551A9; top: 30px;margin-left: 32.5%; border-radius: 20px; width: 35%;">
      Tạo tài khoản
    </button>
  </div>

</ion-content>