<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>THÔNG BÁO</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list *ngIf="isNull==false">
    <div *ngFor="let dt of data">
      <ion-item (click)="goDetail(dt.orderID)" style="margin-top: 5px; border: 1px solid #c8c7cc; border-radius: 10px;" *ngIf="dt.isNew=='0'">
        <h2 style="text-align: center; white-space: pre-line;">{{dt.message}}</h2>
      </ion-item>
      <ion-item (click)="goDetail(dt.orderID)" style="margin-top: 5px; border: 1px solid #c8c7cc; border-radius: 10px; background: #427feb42;" *ngIf="dt.isNew=='1'">
        <h2 style="text-align: center; white-space: pre-line;">{{dt.message}}</h2>
      </ion-item>
    </div>
  </ion-list>

  <div *ngIf="isNull==true">
    <img src="../../assets/imgs/686bellwithslash_100970.png"
      style="margin-top: 50vw;width: 30vw;margin-left: 35%;" alt="">
    <h5 style="text-align: center; color: gray;">Bạn không có thông báo nào</h5>
  </div>

</ion-content>