<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>THÔNG BÁO</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding style="background-color: rgb(233, 233, 233);">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <div *ngIf="isNull==true">
    <img src="../../assets/imgs/686bellwithslash_100970.png"
      style="margin-top: 50vw;width: 30vw;margin-left: 35%;" alt="">
    <h5 style="text-align: center; color: gray;">Bạn không có thông báo nào</h5>
  </div>

  <ion-list *ngIf="isNull==false">
    <ion-card *ngFor="let data of orders; index as i" style=" background-color: #0551A9;border-radius: 30px;">
      <ion-item>
        <br>
        <h2 style="margin-left: 125px; color: #0551A9;"><strong> BÁO GIÁ</strong></h2>
        <br>
        <ion-grid>
          <ion-row>
            <ion-col col-3>Tên dịch vụ</ion-col>
            <ion-col col-9>
              <div *ngFor="let detail of data.order.content.orderValue.details">
                <h2 style="padding-left: 50px; white-space: pre-line;">{{detail.name}}</h2>
              </div>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col col-3>Địa chỉ</ion-col>
            <ion-col col-9>
              <h2 style="padding-left: 50px; white-space: pre-line;">{{data.order.content.customerInfo.address}}</h2>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col col-3>Tên khách hàng</ion-col>
            <ion-col col-9>
              <h2 style="padding-left: 50px;">{{data.order.content.customerInfo.name}}</h2>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col col-3>Số điện thoại</ion-col>
            <ion-col col-9>
              <h2 style="padding-left: 50px;">{{data.order.content.customerInfo.phone}}</h2>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col col-3>Thời gian</ion-col>
            <ion-col col-9>
              <h2 style="padding-left: 50px;white-space: pre-line;">{{data.order.content.expectedTime}}</h2>
            </ion-col>
          </ion-row>

        </ion-grid>
        <button ion-button style="margin-left: 40%;border-radius: 20px;background-color: #0551A9;"
          (click)="toServicesPrice(i)">Chi tiết</button>
      </ion-item>
    </ion-card>

    <br><br>
  </ion-list>
</ion-content>

