// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


ion-app.ios [padding] .scroll-content {
    padding: 0px;
}

ion-app.md [padding] .scroll-content {
    padding: 0px;
}

// .toolbar-background-ios {
//     background: #0551A9;
// }

// .toolbar-background-md {
//     background: #0551A9;
// }

.toolbar-background-ios {
    background: white !important;
}

.toolbar-background-md {
    background: white !important;
}

.bar-button-default-ios, .bar-button-default.bar-button-ios-default, .bar-button-clear-ios-default {
    color: #0551A9 !important;
    background-color: transparent;
}

.bar-button-default-md, .bar-button-default.bar-button-md-default, .bar-button-clear-md-default {
    color: #0551A9 !important;
    background-color: transparent;
}

.toolbar-title-ios {
    text-align: center;
    font-size: 1.7rem;
    font-weight: 600;
    color: #0551A9 ;
    pointer-events: auto;
}

.toolbar-title-md {
    text-align: center;
    font-size: 1.7rem;
    font-weight: 600;
    color: #0551A9 ;
    pointer-events: auto;
}

.tabs-ios .tab-button[aria-selected=true] .tab-button-icon {
    color: #0551A9;
}

.tabs-md .tab-button[aria-selected=true] .tab-button-icon {
    color: #0551A9;
}

.tabs-ios .tab-button[aria-selected=true] .tab-button-text {
    color: #0551A9;
}

.tabs-md .tab-button[aria-selected=true] .tab-button-text {
    color: #0551A9;
}

.tabs-ios .tab-button {
    max-width: 240px;
    min-height: 49px;
    font-size: 15px;
    font-weight: 500;
    color: #8c8c8c;
    padding: 0 2px;
}

.tabs-md .tab-button {
    max-width: 240px;
    min-height: 49px;
    font-size: 15px;
    font-weight: 500;
    color: #8c8c8c;
    padding: 0 2px;
}

.list-ios .item-block .item-inner {
    border-bottom: 0.55px solid #ffffff;
}

.item-ios.item-block .item-inner {
    padding-right: 8px;
    padding-right: 8px;
    border-bottom: 0.55px solid #ffffff;
}

.list-md .item-block .item-inner {
    border-bottom: 0.55px solid #ffffff;
}

.item-md.item-block .item-inner {
    padding-right: 8px;
    padding-right: 8px;
    border-bottom: 0.55px solid #ffffff;
}
