<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Tài khoản</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form *ngIf="isLogin == false">
    <br>
    <h2 style="color: #0551A9; text-align: center;">ĐĂNG NHẬP </h2>
    <ion-item>
      <ion-label floating>Số điện thoại</ion-label>
      <ion-input [(ngModel)]="username" name="username" type="text">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Mật khẩu</ion-label>
      <ion-input [(ngModel)]="password" name="password" type="password">
      </ion-input>
    </ion-item>

    <p style="font-size: 18px;color: red" *ngIf="loginErr==true">Số diện thoại hoặc mật khẩu sai</p>

    <ion-row>
      <ion-col>
        <button ion-button (click)="onLogin()" style="background-color: #0551A9;border-radius: 20px;" type="submit"
          block>Đăng nhập</button>
      </ion-col>
    </ion-row>
  </form>

  <form *ngIf="serviceProvider.isLogin == true">
    <ion-card>
      <ion-avatar>
        <img src="https://icon-library.net/images/default-user-icon/default-user-icon-8.jpg">
      </ion-avatar>

      <ion-item>
        Tài khoản: {{name}}
      </ion-item>
      <ion-row>
        <button ion-button (click)="onLogout()" block>Đăng xuất</button>
      </ion-row>
    </ion-card>
  </form>

  <div style="margin-top: 20px;" *ngIf="isLogin == false">
    <p align="center">
      Bạn chưa có tài khoản? <strong style="text-decoration: underline;" (click)="onClickSignUp()">ĐĂNG KÝ</strong>
    </p>
  </div>
</ion-content>