page-account { 
    .bg{
        background-image: url(../../assets/imgs/216994.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
}
