<ion-header>
  <ion-navbar>
    <ion-title>CHI TIẾT GIAO DỊCH</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-card>
      <ion-item>
        <ion-label style="color: #0551A9;">Thông tin khách hàng</ion-label>
      </ion-item>
      <ion-row>
        <ion-col col-6>Tên khách hàng</ion-col>
        <ion-col col-6>{{data.content.customerInfo.name}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>Số điện thoại</ion-col>
        <ion-col col-6>{{data.content.customerInfo.phone}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>Địa chỉ</ion-col>
        <ion-col col-6>{{data.content.customerInfo.address}}</ion-col>
      </ion-row>

      <ion-item>
        <ion-label style="color: #0551A9;">Thông tin liên hệ</ion-label>
      </ion-item>
      <ion-row>
        <ion-col col-6>Tên khách hàng</ion-col>
        <ion-col col-6>{{data.content.customerDirectContact.name}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>Số điện thoại</ion-col>
        <ion-col col-6>{{data.content.customerDirectContact.phone}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>Địa chỉ</ion-col>
        <ion-col col-6>{{data.content.customerDirectContact.address}}</ion-col>
      </ion-row>
    </ion-card>
  </ion-grid>

  <ion-grid>
    <ion-card>
      <ion-item>
        <ion-label style="color: #0551A9;">Thông tin dịch vụ</ion-label>
      </ion-item>
      <ion-row>
        <ion-col col-6>Trạng thái</ion-col>
        <ion-col col-6 *ngIf="data.content.status==0">Đã đặt, chưa báo giá</ion-col>
        <ion-col col-6 *ngIf="data.content.status==1">Đã báo giá, chưa phản hồi</ion-col>
        <ion-col col-6 *ngIf="data.content.status==2">Phản hồi, cần edit</ion-col>
        <ion-col col-6 *ngIf="data.content.status==3">Chưa hoàn tất công việc, chưa thanh toán</ion-col>
        <ion-col col-6 *ngIf="data.content.status==4">Hoàn tất công việc, chưa thanh toán</ion-col>
        <ion-col col-6 *ngIf="data.content.status==5">Hoàn tất công việc, đã thanh toán</ion-col>
        <ion-col col-6 *ngIf="data.content.status==6">Chưa hoàn tất công việc, đã thanh toán</ion-col>
        <ion-col col-6 *ngIf="data.content.status==7">Đã hủy</ion-col>
        <ion-col col-6 *ngIf="data.content.status==8">Pending</ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>Thời gian đặt lịch</ion-col>
        <ion-col col-6>{{data.content.expectedTime}}</ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>Hình thức thanh toán</ion-col>
        <ion-col col-6 *ngIf="data.content.paymentInfo.paymentMethod=='0'">Trả sau bằng tiền mặt</ion-col>
        <ion-col col-6 *ngIf="data.content.paymentInfo.paymentMethod=='1'">Trả trước qua cổng thanh toán</ion-col>
      </ion-row>
    </ion-card>
  </ion-grid>

  <ion-grid>
    <ion-card>
      <ion-item>
        <ion-label style="color: #0551A9;">Chi tiết dịch vụ</ion-label>
      </ion-item>
      <ion-row>
        <ion-col col-6><strong>Tên dịch vụ</strong></ion-col>
        <ion-col col-6><strong>Giá</strong></ion-col>
      </ion-row>

      <ion-row *ngFor="let dv of data.content.orderValue.details">
        <ion-col col-6>{{dv.name}}</ion-col>
        <ion-col col-6>{{dv.charge}}</ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>Tổng tiền</ion-col>
        <ion-col col-6><strong>{{data.content.orderValue.sum}}</strong></ion-col>
      </ion-row>
    </ion-card>

  </ion-grid>
  <ion-item *ngIf="data.content.imageList.length!=0">
    <ion-label style="color: #0551A9;">Hình ảnh</ion-label>
  </ion-item>

  <ion-row *ngIf="data.content.imageList.length!=0">
    <ion-col col-3 *ngFor="let image of data.content.imageList">
      <img src="{{image}}" alt="">
    </ion-col>
  </ion-row>

  <ion-item  *ngIf="data.content.videoList!=''">
    <ion-label style="color: #0551A9;">Video</ion-label>
  </ion-item>

  <ion-row>
    <video controls="controls" preload="metadata" autoplay="autoplay" webkit-playsinline="webkit-playsinline"
      class="videoPlayer" style="width: 360px;" *ngIf="data.content.videoList!=''">
      <source src="{{data.content.videoList}}" type="video/mp4" />
    </video>
  </ion-row>



</ion-content>
<ion-footer *ngIf="check==true">
  <ion-row>
    <ion-col *ngIf="isFinishTask==false" col-6><button (click)="confirmFinish()" ion-button
        style="background-color: #0551A9;" block>Hoàn tất</button></ion-col>
    <ion-col *ngIf="isFinishTask==true" col-6><button ion-button style="background-color: rgb(182, 178, 178);" block>Đã
        hoàn thành</button></ion-col>
    <ion-col *ngIf="isPayment==false" col-6><button (click)="confirmPayment()" ion-button
        style="background-color: #0551A9;" block>Nhận thanh toán</button></ion-col>
    <ion-col *ngIf="isPayment==true" col-6><button ion-button style="background-color: rgb(182, 178, 178);" block>Đã
        thanh toán</button></ion-col>
  </ion-row>

</ion-footer>