<ion-header>
  <ion-navbar>
    <button ion-button menuToggle icon-only>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>LỊCH SỬ</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding style="background-color: rgb(233, 233, 233)">
  <ion-list *ngIf="history.length!=0">
    <ion-card *ngFor="let data of history; index as i" style="border-radius: 25px; background-color: #0551A9;">
      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col col-3>Tên dịch vụ</ion-col>
            <ion-col col-9>
              <div *ngFor="let detail of data.content.orderValue.details">
                <h2 style="padding-left: 50px;">{{detail.name}}</h2>
              </div>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col col-3>Địa chỉ</ion-col>
            <ion-col col-9>
              <h2 style="padding-left: 50px; white-space: pre-line;">{{data.content.customerInfo.address}}</h2>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-3>Thời gian</ion-col>
            <ion-col col-9>
              <h2 style="padding-left: 50px; white-space: pre-line;">{{data.content.expectedTime}}</h2>
            </ion-col>
          </ion-row>

        </ion-grid>
        <button ion-button style="margin-left: 40%;border-radius: 20px; background-color: #0551A9;"
          (click)="toDetail(i)">Chi tiết</button>
      </ion-item>
    </ion-card>
    <br><br>
  </ion-list>

  <div *ngIf="history.length==0">
    <img src="../../assets/imgs/folder_delete_256_icon-icons.com_75999.png"
      style="margin-top: 50vw;width: 30vw;margin-left: 35%;" alt="">
    <h5 style="text-align: center; color: gray;">Lịch Sử Làm Việc Đang Trống</h5>
  </div>
</ion-content>