<ion-header>
  <ion-navbar>
    <ion-title>CHI TIẾT GIAO DỊCH</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-card>
      <ion-item>
        <ion-label style="color: #0551A9;"><strong>Thông tin khách hàng</strong></ion-label>
      </ion-item>
      <ion-row>
        <ion-col col-6>Tên khách hàng</ion-col>
        <ion-col col-6>{{data.data_item.content.customerInfo.name}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>Số điện thoại</ion-col>
        <ion-col col-6>{{data.data_item.content.customerInfo.phone}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>Địa chỉ</ion-col>
        <ion-col col-6>{{data.data_item.content.customerInfo.address}}</ion-col>
      </ion-row>
      <ion-item>
        <ion-label style="color: crimson;"><strong>Thông tin liên hệ</strong></ion-label>
      </ion-item>
      <ion-row>
        <ion-col col-6>Tên khách hàng</ion-col>
        <ion-col col-6>{{data.data_item.content.customerDirectContact.name}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>Số điện thoại</ion-col>
        <ion-col col-6>{{data.data_item.content.customerDirectContact.phone}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>Địa chỉ</ion-col>
        <ion-col col-6>{{data.data_item.content.customerDirectContact.address}}</ion-col>
      </ion-row>
    </ion-card>



  </ion-grid>

  <ion-grid>
    <ion-card>
      <ion-item>
        <ion-label style="color: #0551A9;"><strong>Thông tin dịch vụ</strong></ion-label>
      </ion-item>
      <ion-row>
        <ion-col col-6>Trạng thái</ion-col>
        <ion-col col-6 *ngIf="data.data_item.content.status==0">Đã đặt, chưa báo giá</ion-col>
        <ion-col col-6 *ngIf="data.data_item.content.status==1">Đã báo giá, chưa phản hồi</ion-col>
        <ion-col col-6 *ngIf="data.data_item.content.status==2">Phản hồi, cần edit</ion-col>
        <ion-col col-6 *ngIf="data.data_item.content.status==3">Chưa hoàn tất công việc, chưa thanh toán</ion-col>
        <ion-col col-6 *ngIf="data.data_item.content.status==4">Hoàn tất công việc, chưa thanh toán</ion-col>
        <ion-col col-6 *ngIf="data.data_item.content.status==5">Hoàn tất công việc, đã thanh toán</ion-col>
        <ion-col col-6 *ngIf="data.data_item.content.status==6">Chưa hoàn tất công việc, đã thanh toán</ion-col>
        <ion-col col-6 *ngIf="data.data_item.content.status==7">Đã hủy</ion-col>
        <ion-col col-6 *ngIf="data.data_item.content.status==8">Pending</ion-col>
        <ion-col col-6 *ngIf="data.data_item.content.status=='2a'" col-6>Đã chấp nhận báo giá, chưa gửi HĐ</ion-col>
        <ion-col col-6 *ngIf="data.data_item.content.status=='2b'" col-6>Đã gửi HĐ, chưa phản hồi</ion-col>
        <ion-col col-6 *ngIf="data.data_item.content.status=='2c'" col-6>Đã ký hợp đồng</ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>Thời gian đặt lịch</ion-col>
        <ion-col col-6>{{data.data_item.content.expectedTime}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>Hình thức thanh toán</ion-col>
        <ion-col col-6 *ngIf="data.data_item.content.paymentInfo.paymentMethod=='0'">Trả sau bằng tiền mặt</ion-col>
        <ion-col col-6 *ngIf="data.data_item.content.paymentInfo.paymentMethod=='1'">Trả trước qua cổng thanh toán
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>Ghi chú</ion-col>
        <ion-col col-6>{{data.data_item.content.note}}</ion-col>
      </ion-row>
    </ion-card>

  </ion-grid>
  <ion-grid>
    <ion-card>
      <ion-item>
        <ion-label style="color: #0551A9;"><strong>Chi tiết dịch vụ</strong></ion-label>
      </ion-item>
      <ion-row>
        <ion-col col-6><strong>Tên dịch vụ</strong></ion-col>
        <ion-col col-6 *ngIf="data.data_item.content.orderValue.sum!=''"><strong>Giá</strong></ion-col>
      </ion-row>

      <ion-row *ngFor="let dv of data.data_item.content.orderValue.details">
        <ion-col col-6>{{dv.name}}</ion-col>
        <ion-col col-6 *ngIf="data.data_item.content.orderValue.sum!=''">{{dv.charge}}</ion-col>
      </ion-row>

      <ion-row *ngIf="data.data_item.content.orderValue.sum!=''">
        <ion-col col-6>Tổng tiền</ion-col>
        <ion-col col-6>{{data.data_item.content.orderValue.sum}}</ion-col>
      </ion-row>
    </ion-card>

  </ion-grid>
  <ion-item *ngIf="data.data_item.content.imageList.length!=0"> 
    <ion-label style="color: #0551A9;"><strong>Hình ảnh</strong></ion-label>
  </ion-item>

  <ion-row *ngIf="data.data_item.content.imageList.length!=0">
    <ion-col col-3 *ngFor="let image of data.data_item.content.imageList">
      <img src="{{image}}" alt="">
    </ion-col>
  </ion-row>

  <ion-item *ngIf="data.data_item.content.videoList!=''">
    <ion-label style="color: #0551A9;"><strong>Video</strong></ion-label>
  </ion-item>

  <!-- <ion-row>
    <ion-col col-12 *ngFor="let image of data.videoList">
      <video src="{{video}}"></video>
    </ion-col>
  </ion-row> -->
  <ion-item overflow-scroll="true">
    <video controls="controls" preload="metadata" autoplay="autoplay" webkit-playsinline="webkit-playsinline"
      class="videoPlayer" style="width: 360px;" *ngIf="data.data_item.content.videoList!=''">
      <source src="{{data.data_item.content.videoList}}" type="video/mp4" />
    </video>
  </ion-item>
</ion-content>