<ion-header>
  <ion-navbar>
    <ion-title>Đặt lịch</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-slides>
    <ion-slide style="overflow-y: auto; display: block; padding: 15px">
      <ion-header style="margin-top: 15px;font-size: 18px;color: #0551A9;">THÔNG TIN DỊCH VỤ</ion-header>
      <br><br><br>
      <ion-item>
        <ion-label>Chọn dịch vụ</ion-label>
        <ion-select multiple="true" cancelText="HỦY" okText="ĐỒNG Ý" [(ngModel)]="selectedService"
          (ionChange)="changeServices()">
          <ion-option *ngFor="let service of services" value={{service.data_item.content.id}}>
            <h2>{{service.data_item.content.name}}</h2>
          </ion-option>
        </ion-select>
      </ion-item>
      <p style="font-size: 13px;color: red; float: right;" *ngIf="serviceIsNULL==true">
        Chưa chọn dịch vụ
      </p>

      <ion-item>
        <ion-label>Chọn ngày:</ion-label>
        <ion-datetime displayFormat="DD/MM/YYYY" min="2019-01-01" max="2050-12-31" [(ngModel)]="datetime"
          (ionChange)="checkDateTime()">
        </ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label>Chọn thời gian:</ion-label>
        <ion-datetime displayFormat="hh:mm A" pickerFormat="HH:mm" [(ngModel)]="datetime" (ionChange)="checkDateTime()">
        </ion-datetime>
      </ion-item>
      <p style="font-size: 13px;color: red; float: right;" *ngIf="dateTimeErr==true">
        Thời gian không hợp lệ
      </p>
      <br>
      <button *ngIf="slides.getActiveIndex()==0" ion-button (click)="nextStep2()"
        style="background-color: #0551A9;border-radius: 20px;" block>
        Tiếp
      </button>
    </ion-slide>

    <ion-slide style="overflow-y: auto; display: block; padding: 15px">
      <ion-item no-padding text-center style="border: none !important;">
        <h3 style="margin-top: 15px;font-size: 18px;color: #0551A9;">THÔNG TIN KHÁCH HÀNG</h3>
      </ion-item>
      <form>
        <ion-item
          style="box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 0px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);">
          <ion-label floating>Họ tên</ion-label>
          <ion-input name="name" [(ngModel)]="name" (ionChange)="checkName(name)" type="text">
          </ion-input>

        </ion-item>
        <p style="font-size: 13px;color: red; float: right;" *ngIf="nameErr==true">
          Tên không chứa số và kí tự đặc biệt
        </p>
        <p style="font-size: 13px;color: red; float: right;" *ngIf="nameIsNULL==true">
          Chưa có họ tên
        </p>
        <ion-item
          style="box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 0px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);">
          <ion-label floating>Số điện thoại</ion-label>
          <ion-input name="phone" type="number" [(ngModel)]="phone" (ionChange)="checkPhone()"
            style="height: 53px; border-radius: 10px;">
          </ion-input>

        </ion-item>
        <p style="font-size: 13px;color: red; float: right;" *ngIf="phoneErr==true">
          Số điện thoại không đúng
        </p>
        <p style="font-size: 13px;color: red; float: right;" *ngIf="phoneIsNULL==true">
          Chưa có số điện thoại
        </p>
      </form>

      <div
        style="margin-top: 10%;box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 0px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);">
        <h2 style="margin-top: 10px;float: left; margin-left: 5%; font-size: 0.9em;">Địa chỉ</h2>
        <ion-item>
          <ion-label>Tỉnh/Thành phố</ion-label>
          <ion-select cancelText="HỦY" okText="ĐỒNG Ý" [(ngModel)]="selectedProvince"
            (ionChange)="changeProvince($event)">
            <ion-option *ngFor="let province of provinces" value="{{province.province_code}}">
              {{province.province_name}}
            </ion-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label>Quận/Huyện</ion-label>
          <ion-select cancelText="HỦY" okText="ĐỒNG Ý" [(ngModel)]="selectedDistrict"
            (ionChange)="changeDistrict($event)">
            <ion-option *ngFor="let district of districts" value="{{district.district_code}}">
              {{district.district_name}}
            </ion-option>
          </ion-select>
        </ion-item>
        <p style="font-size: 13px;color: red; float: right;" *ngIf="districtIsNULL==true">
          Chưa chọn Quận/Huyện
        </p>

        <ion-item>
          <ion-label>Xã/Phường</ion-label>
          <ion-select cancelText="HỦY" okText="ĐỒNG Ý" [(ngModel)]="selectedWard" (ionChange)="changeWard($event)">
            <ion-option *ngFor="let ward of wards" value="{{ward.ward_code}}">
              {{ward.ward_name}}
            </ion-option>
          </ion-select>
        </ion-item>
        <p style="font-size: 13px;color: red; float: right;" *ngIf="wardIsNULL==true">
          Chưa chọn Xã/Phường
        </p>
        <ion-item>
          <!-- <ion-label floating>Thông tin địa chỉ(điểm mốc, số nhà)</ion-label> -->
          <ion-input name="address" [(ngModel)]="address" placeholder="Thông tin địa chỉ (số nhà, tên đường,...)"
            (ionChange)="checkAddress()" type="text">
          </ion-input>
        </ion-item>
        <p style="font-size: 13px;color: red; float: right;" *ngIf="addressIsNULL==true">
          Chưa có địa chỉ
        </p>
      </div>


      <div
        style="margin-top: 40px;box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 0px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);">
        <h4
          style="padding-top: 10px; font-size: 0.9em;text-align: center; margin-left: 5%; margin-right: 5% ;color: crimson;">
          Bạn có người chúng tôi cần liên hệ trực tiếp khi
          đến cung cấp dịch vụ hay không?</h4>
        <ion-list radio-group style="display: inline-flex; padding-top:15px" [(ngModel)]="isCusDir"
          (ionChange)="changeInfo()">
          <span (click)="cusDirChange(1)" style="margin-right:10px;">Có</span>
          <ion-radio value="1"></ion-radio>

          <span style="padding-right:25px; padding-left:25px"></span>

          <span (click)="cusDirChange(0)" style="margin-right:10px;">Không</span>
          <ion-radio value="0"></ion-radio>
        </ion-list>

        <div *ngIf="displayCusDir">
          <ion-item no-padding text-center style="border: none !important;">
            <h3 style="margin-top: 15px;font-size: 15px;color: #0551A9;">THÔNG TIN LIÊN HỆ TRỰC TIẾP</h3>
          </ion-item>
          <form>
            <ion-item>
              <ion-label floating>Họ tên người liên hệ</ion-label>
              <ion-input name="name" type="text" [(ngModel)]="nameCusDir" (ionChange)="checkNameCusDir(nameCusDir)">
              </ion-input>
            </ion-item>
            <p style="font-size: 13px;color: red; float: right;" *ngIf="nameCusDirErr==true">
              Tên không chứa số và kí tự đặc biệt
            </p>
            <p style="font-size: 13px;color: red; float: right;" *ngIf="nameCusDirIsNULL==true">
              Chưa có họ tên
            </p>
            <ion-item>
              <ion-label floating>Số điện thoại</ion-label>
              <ion-input name="phoneCusDir" type="number" [(ngModel)]="phoneCusDir" (ionChange)="checkPhoneCusDir()"
                style="height: 53px; width: 294px; border-radius: 10px;">
              </ion-input>
            </ion-item>
            <p style="font-size: 13px;color: red; float: right;" *ngIf="phoneCusDirErr==true">
              Số điện thoại không đúng
            </p>
            <p style="font-size: 13px;color: red; float: right;" *ngIf="phoneCusDirIsNULL==true">
              Chưa có số điện thoại
            </p>
          </form>

          <div
            style="margin-top: 10%;box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 0px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);">
            <h2 style="float: left; margin-left: 5%; margin-top: 10px; font-size: 0.9em;">Địa chỉ</h2>
            <ion-item>
              <ion-label>Tỉnh/Thành phố</ion-label>
              <ion-select cancelText="HỦY" okText="ĐỒNG Ý" [(ngModel)]="selectedProvinceCusDir"
                (ionChange)="changeProvinceCusDir($event)">
                <ion-option *ngFor="let province of provincesCusDir" value="{{province.province_code}}">
                  {{province.province_name}}
                </ion-option>
              </ion-select>
            </ion-item>

            <ion-item>
              <ion-label>Quận/Huyện</ion-label>
              <ion-select cancelText="HỦY" okText="ĐỒNG Ý" [(ngModel)]="selectedDistrictCusDir"
                (ionChange)="changeDistrictCusDir($event)">
                <ion-option *ngFor="let district of districtsCusDir" value="{{district.district_code}}">
                  {{district.district_name}}
                </ion-option>
              </ion-select>
            </ion-item>
            <p style="font-size: 13px;color: red; float: right;" *ngIf="districtIsNULLCusDir==true">
              Chưa chọn Quận/Huyện
            </p>

            <ion-item>
              <ion-label>Xã/Phường</ion-label>
              <ion-select cancelText="HỦY" okText="ĐỒNG Ý" [(ngModel)]="selectedWardCusDir"
                (ionChange)="changeWardCusDir($event)">
                <ion-option *ngFor="let ward of wardsCusDir" value="{{ward.ward_code}}">
                  {{ward.ward_name}}
                </ion-option>
              </ion-select>
            </ion-item>
            <p style="font-size: 13px;color: red; float: right;" *ngIf="wardIsNULLCusDir==true">
              Chưa chọn Xã/Phường
            </p>


            <ion-item>
              <!-- <ion-label floating>Thông tin địa chỉ(điểm mốc, số nhà)</ion-label> -->
              <ion-input name="address" [(ngModel)]="addressCusDir"
                placeholder="Thông tin địa chỉ (số nhà, tên đường,...)" (ionChange)="checkAddressCusDir()" type="text">
              </ion-input>
            </ion-item>
            <p style="font-size: 13px;color: red; float: right;" *ngIf="addressCusDirIsNULL==true">
              Chưa có địa chỉ
            </p>
          </div>
        </div>
      </div>

      <div style=" border: solid 1px #b3b1b1;
        border-radius: 5px;
        padding: 10px;
          margin-top: 30px;
          margin-bottom: 10px;">
        <textarea [(ngModel)]="note" [ngModelOptions]="{standalone: true}" placeholder="Nội dung công việc bảo trì..."
          rows="4" style="width: 100%;  outline: none;    border: none;
          " maxlength="500" (ngModelChange)="txtMaxLengthCheck($event)"></textarea>
        <div style="padding-bottom: 10px">
          <small style="float:right; color:grey; margin-right: 5px">{{txtcounter}}<span>/500</span></small>
        </div>
      </div>

      <ion-label>Hình ảnh</ion-label>
      <ion-row>
        <ion-col col-6>
          <button ion-button type="submit" (click)="presentActionPhoto()" style="border: 2px solid #4CAF50;"
            color="light" block icon-only>
            <ion-icon name="images" style="color: #CD950C"></ion-icon>
            Thêm ảnh
          </button>
        </ion-col>
        <ion-col col-6>
          <button ion-button type="submit" (click)="presentActionVideo()" style="border: 2px solid #4CAF50;"
            color="light" block icon-only>
            <ion-icon name="videocam" style="color: rgb(204, 53, 7)"></ion-icon>
            Thêm video
          </button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-3 *ngFor="let image of imageResponse; let i=index">
          <img style="width: 30vw; height:30vw" src="{{fixDisplayURLFromFileURI(image)}}" alt="">
          <button (click)="delPic(image, i)" ion-button>
            <ion-icon ios="md-close" md="md-close"></ion-icon>
          </button>
        </ion-col>
      </ion-row>


      <div *ngIf="video!=''" style="background-color: white!important; margin-top:6px; padding-left:4%">
        <div style="background:transparent!important; position: relative !important">
          <button (click)="delVideo()" round ion-button
            style="position: absolute !important; top:0; right:5px;   z-index: 1;">
            <ion-icon name="close"></ion-icon>
          </button>
          <ion-item style="background-color: white !important">
            <video
              style="background-color: white !important;width:100%; max-height:200px; border: solid 1px rgb(201, 199, 199); border-radius:15px"
              controls="controls" preload="metadata" webkit-playsinline="webkit-playsinline" class="videoPlayer"
              [src]="fixDisplayURLFromFileURI(video)"></video>
          </ion-item>
        </div>
      </div>
      <br>
      <ion-row *ngIf="slides.getActiveIndex()==1">
        <ion-col>
          <button ion-button style="border-radius: 20px;background-color: #555555; color: white;" color="light"
            (click)="back()" block>
            Quay lại
          </button>
        </ion-col>
        <ion-col>
          <button ion-button (click)="nextStep()" style="background-color: #0551A9;border-radius: 20px;" block>
            Tiếp
          </button>
        </ion-col>
      </ion-row>

    </ion-slide>

    <ion-slide style="overflow-y: auto; display: block;padding: 15px">
      <ion-header style="margin-top: 15px;font-size: 18px;color: #0551A9;">HÌNH THỨC THANH TOÁN</ion-header>
      <br><br><br>

      <ion-list radio-group [(ngModel)]="selectedRadio">
        <ion-item *ngFor="let payment of payments">
          <ion-avatar item-start>
            <img src="{{payment.img}}" alt="">
          </ion-avatar>
          <ion-label style="white-space: pre-line;">{{payment.paymentStatusName}}</ion-label>
          <ion-radio [value]="payment.paymentType" (ionSelect)="changePayment()"></ion-radio>
        </ion-item>
      </ion-list>

      <ion-footer>
        <ion-row *ngIf="slides.getActiveIndex()==2">
          <ion-col col-6>
            <button ion-button style="border-radius: 20px;background-color: #555555; color: white;" color="light"
              (click)="back()" block>
              Quay lại
            </button>
          </ion-col>
          <ion-col col-6>
            <button ion-button (click)="saveBook()" style="background-color: #0551A9;border-radius: 20px;" block>
              Đặt lịch
            </button>
          </ion-col>
        </ion-row>
      </ion-footer>

    </ion-slide>
  </ion-slides>

</ion-content>
<!-- 
<ion-footer>
  <button *ngIf="slides.getActiveIndex()==0" ion-button (click)="nextStep2()"
    style="background-color: #0551A9;border-radius: 20px;" block>
    Tiếp
  </button>

  <ion-row *ngIf="slides.getActiveIndex()==1">
    <ion-col>
      <button ion-button style="border-radius: 20px;background-color: #555555; color: white;" color="light"
        (click)="back()" block>
        Quay lại
      </button>
    </ion-col>
    <ion-col>
      <button ion-button (click)="nextStep()" style="background-color: #0551A9;border-radius: 20px;" block>
        Tiếp
      </button>
    </ion-col>
  </ion-row>

  <ion-row *ngIf="slides.getActiveIndex()==2">
    <ion-col col-6>
      <button ion-button style="border-radius: 20px;background-color: #555555; color: white;" color="light"
        (click)="back()" block>
        Quay lại
      </button>
    </ion-col>
    <ion-col col-6>
      <button ion-button (click)="saveBook()" style="background-color: #0551A9;border-radius: 20px;" block>
        Đặt lịch
      </button>
    </ion-col>
  </ion-row>
</ion-footer> -->