page-technicians {
    .toolbar-title-md {
        /* text-align: center; */
        font-size: 1.7rem;
        font-weight: 600;
        color: #0551A9; 
        pointer-events: auto;
        margin-right: 10%;
    }

    .toolbar-title-ios {
        /* text-align: center; */
        font-size: 1.7rem;
        font-weight: 600;
        color: #0551A9; 
        pointer-events: auto;
        margin-right: 10%;
    }

}
