<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>CÔNG VIỆC HÔM NAY</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding style="background-color: rgb(233, 233, 233);">
  <ion-list *ngIf="tasks.length!=0">
    <ion-card *ngFor="let data of tasks; index as i" style=" border-radius: 25px; background-color: rgb(30, 0, 202);">
      <ion-item>
        <button ion-button
          style="background-color: white;color: black;border: 2px solid rgb(0, 235, 51); border-radius: 8px; float:right;"
          *ngIf="data.content.status=='5'">
          Đã xử lý
        </button>
        <button ion-button
          style="background-color: white;color: black;border: 2px solid rgb(173, 0, 9); border-radius: 8px; float:right;"
          *ngIf="data.content.status!='5'">
          Chưa xử lý
        </button>
        <ion-grid>
          <ion-row>
            <ion-col col-3>Tên dịch vụ</ion-col>
            <ion-col col-9>
              <div *ngFor="let detail of data.content.orderValue.details">
                <h2 style="padding-left: 44px; white-space: pre-line;">{{detail.name}}</h2>
              </div>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col col-3>Địa chỉ</ion-col>
            <ion-col col-9  style="padding-left: 50px; white-space: pre-line;">
              {{data.content.customerInfo.address}}
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col col-3>Tên KH</ion-col>
            <ion-col col-9  style="padding-left: 50px;">
              {{data.content.customerInfo.name}}
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col col-3>Số điện thoại</ion-col>
            <ion-col col-9 style="padding-left: 50px;">
              {{data.content.customerInfo.phone}}
            </ion-col>
          </ion-row>

          <ion-row style="color: crimson;">
            <ion-col col-3>Hạn cuối</ion-col>
            <ion-col col-9 style="padding-left: 50px;">
              {{data.content.assignInfo.assignee.deadline}}
            </ion-col>
          </ion-row>


        </ion-grid>
        <button ion-button style="margin-left: 40%;" (click)="toServicesPrice(i)">Chi tiết</button>
      </ion-item>
    </ion-card>

    <br><br>
  </ion-list>

  <div *ngIf="tasks.length==0">
    <img src="../../assets/imgs/document_delete_256_icon-icons.com_75995.png"
      style="margin-top: 50vw;width: 30vw;margin-left: 35%;" alt="">
    <h5 style="text-align: center; color: gray;">Không có công việc</h5>
  </div>
</ion-content>